<link rel="stylesheet" href="./css/style.css">

{{> header}}

  <div class="gameContainer">
    {{#each data}}
      <div class="game">
        <img src={{ game.box.large }}>
        <h6 class="title"> {{ game.name }} </h6>
        <p class="sub-title"> {{ viewers }} viewers</p>
      </div>
    {{/each}}
  </div>
